* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  font-size: 90%;
  font-family: Garamond, Baskerville, Baskerville Old Face, Hoefler Text,
    Times New Roman, serif;
  font-weight: 300;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
}
body {
  min-height: 100vh;
  background-color: #ffffff;
}
.sourceLink,
.sourceLink:link,
.sourceLink:visited,
.sourceLink:hover {
  color: #0040ff;
}

.content {
  width: 100%;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  align: center;
  text-align: left;
  border: none;
  border-radius: 15px;
  background-color: #ffffff;
  display: table;
  box-shadow: none;
}

.bold {
  font-size: 115%;
  font-weight: 700;
}

.blocked_item {
  text-decoration: line-through;
  font-size: 100%;
  font-weight: 600;
}
.highlighted_item {
  color: #dd3333;
  font-size: 100%;
  font-weight: 600;
}
.bold_item {
  font-size: 100%;
  font-weight: 600;
}

/* For the main title bar. */
.title {
  width: 100vw;
  padding: 3px 0;
  margin: 3px auto;
  color: #000000;
  text-align: center;
  font-size: 300%;
  background-color: #ffffff;
  font-weight: 500;
  display: table;
  border-bottom: 1px solid black;
}

.title_logo_span {
  vertical-align: middle;
  display: table-cell;
  margin: 0;
  padding: 0;
  border-spacing: 0;
  border-collapse: collapse;
}
.title_logo_text {
  vertical-align: middle;
  display: table-cell;
  margin: 0;
  padding: 0;
  border-spacing: 0;
  border-collapse: collapse;
  text-decoration: none;
}

.title_logo_text a {
  font-size: 150%;
  font-weight: 700;
  text-decoration: none;
}

.title_logo {
  height: 80px;
  width: 325px;
  margin: 15px 0 20px 0;
  vertical-align: middle;
  object-fit: contain;
  border-spacing: 0;
  border-collapse: collapse;
}
.title_text {
  vertical-align: middle;
  display: table-cell;
}
.stylized_title_text {
  text-transform: none;
  vertical-align: middle;
  display: table-cell;
  border-spacing: 0;
  border-collapse: collapse;
  margin: 5px;
}

.entity_logo {
  vertical-align: sub;
  height: 4em;
  width: 14em;
  object-fit: contain;
  padding: 2px;
  margin-bottom: 10px;
  background-color: #ffffff;
  -moz-box-shadow: 4px 4px 10px #000;
  -webkit-box-shadow: 4px 4px 10px #000;
  box-shadow: 4px 4px 10px #000;
}

.entity_logo_right_margin {
  vertical-align: sub;
  height: 4em;
  width: 14em;
  object-fit: contain;
  padding: 10px;
  margin-bottom: 10px;
  margin-right: 0.5em;
  background-color: #ffffff;
  -moz-box-shadow: 4px 4px 10px #000;
  -webkit-box-shadow: 4px 4px 10px #000;
  box-shadow: 4px 4px 10px #000;
}

/* For a fixed footer. */
.footer {
  position: fixed;
  bottom: 0;
  top: auto;
  padding: 0.6em 0 0.2em 0;
  margin-bottom: 0;
  color: #ffffff;
  text-align: center;
  font-size: 225%;
  background-color: #007fff;
  font-weight: 500;
  display: inline-block;
  width: 100%;
  z-index: 10;
}
.footer button {
  float: right;
  font-size: 100%;
  line-height: 1em;
  border-radius: 0px;
  padding: 0.2em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  background-color: #ffffff;
}
.footer button:hover {
  background-color: #aaaadd;
}
.footer a {
  color: #ffffff;
}

/* For the main search page. */
.searchheader {
  width: 100%;
  text-align: left;
  text-indent: 12.5%;
  font-size: 200%;
}
.connected_container {
  max-width: 1300px;
  margin: 0vh auto 2vh auto;
  display: block;
  padding: 2rem;
  text-align: center;
}
.connected_searchbox {
  width: 82.5%;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0.5rem;
  border: none;
  border-radius: 15px;
  box-shadow: 0 0 3px 3px #222288;
  background-color: #ffffff;
  display: inline-block;
}
.connected_searchbar {
  width: 100%;
  height: 5rem;
  vertical-align: top;
  padding: 1rem 1rem;
  font-size: 200%;
  font-weight: 400;
  border: none;
  border-radius: 15px;
  display: inline-block;
}
textarea:focus,
input:focus {
  outline: none;
}
.connected_select {
  width: 25%;
  height: 5rem;
  vertical-align: top;
  padding: 0rem 0rem;
  font-size: 150%;
  font-weight: 400;
  border: none;
  border-radius: 15px;
  background-color: #eeeeff;
  display: inline-block;
}

.connected_autocomplete {
  display: block;
  width: 100%;
  font-size: 120%;
  background-color: #ffffff;
  box-shadow: none;
  border-radius: 15px;
  text-align: left;
  position: relative;
  left: 0%;
}
.connected_autocomplete_off {
  overflow: none;
}
.connected_autocomplete_on {
  max-height: 400px;
  overflow: scroll;
}

.connected_autocomplete a {
  display: block;
  text-decoration: none;
  padding: 1rem;
  font-size: 150%;
  color: #333355;
  font-weight: 400;
}

.connected_autocomplete_span {
  font-weight: 700;
  border-radius: 15px;
}

.connected_autocomplete a:hover {
  background-color: #e0e0ff;
}

.searchoption {
  text-align: left;
  text-indent: 12.5%;
  font-size: 120%;
  font-weight: 700;
  margin: 0.5rem 0rem 0rem 0rem;
}
.searchcheck {
  margin: 0rem 0rem 0rem 1rem;
}

div.location {
  width: 100%;
  margin: 0rem 0rem 0rem 2.5rem;
  font-size: 115%;
  font-weight: 500;
  border: none;
  text-align: left;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  display: inline-block;
  background-color: #dddddd;
}

/* For displaying nearest neighbors and the suggested website*/
div.neighbors,
div.accountability {
  margin-left: auto;
  margin-right: auto;
  font-size: 115%;
  font-weight: 200;
  border: none;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  background-color: #fafafa;
}

div.neighbors ol {
  margin: 1rem;
  align: left;
  column-count: 2;
  line-height: 200%;
  break-inside: avoid;
  column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  -ms-column-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
}

ol.neighbors {
  margin: 1rem;
  align: left;
  column-count: 2;
  line-height: 200%;
  break-inside: avoid;
  column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  -ms-column-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
}

div.neighbors ul {
  margin: 1rem;
  align: left;
  column-count: 2;
  line-height: 200%;
  break-inside: avoid;
  column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  -ms-column-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
}

ul.neighbors {
  margin: 1rem;
  align: left;
  column-count: 2;
  line-height: 200%;
  break-inside: avoid;
  column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  -ms-column-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
}

div.accountability ul {
  margin: 1rem;
  align: left;
  line-height: 200%;
}

div.accountability li,
div.neighbors li {
  margin: 0rem 0rem 0rem 2.5rem;
  align: left;
  text-align: left;
  font-size: 160%;
  font-weight: 500;
}

li.neighbors {
  margin: 0rem 0rem 0rem 2.5rem;
  align: left;
  text-align: left;
  font-size: 160%;
  font-weight: 500;
}

h2.filing {
  padding: 1rem 1rem 1rem 2rem;
  display: block;
  margin-top: 1rem;
  margin-bottom: 0rem;
  color: #ffffff;
  text-align: left;
  font-size: 200%;
  font-weight: 700;
  background-color: #333355;
  text-transform: capitalize;
}

div.filing_tabs {
  margin: 0 auto;
  padding: 0;
  align: center;
  text-align: left;
  border: none;
  background-color: #ffffff;
  display: table;
}

.tab-content {
  display: none;
  padding-top: 0;
  padding-left: 0;
}

div.filing_description {
  width: 100%;
  margin: 0 0 1rem 1rem;
  padding-top: 1rem;
  align: left;
  text-align: left;
  font-size: 150%;
  font-weight: 500;
  border: none;
  background-color: #ffffff;
  display: block;
}

div.filing_description ol {
  margin: 0rem 0rem 0rem 1rem;
  align: left;
  line-height: 200%;
}

div.filing_description ul {
  margin: 0rem 0rem 0rem 1rem;
  align: left;
  line-height: 200%;
}

div.filing_description li {
  margin: 0rem 0rem 0rem 2.5rem;
  align: left;
  text-align: left;
  font-weight: 500;
}

h2.list {
  padding: 0.25rem 1rem 0.25rem 2rem;
  display: block;
  margin: 1rem 5% 0rem 5%;
  color: #ffffff;
  text-align: left;
  font-size: 200%;
  font-weight: 700;
  background-color: #333355;
  text-transform: capitalize;
}

div.vendor_us_federal_awards {
  overflow: scroll;
  height: 1600px;
  width: 100%;
  font-size: 115%;
  font-weight: 200;
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
  text-align: center;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  display: block;
  background-color: #ffffff;
}

.ui-dialog-title {
  font-size: 125%;
}

div.award,
div.lobbying-contributions {
  font-size: 125%;
  font-weight: 200;
  text-align: center;
  background-color: #fafaff;
}

.taxes th {
  text-align: left;
  padding-left: 0.5em;
}
.taxes td {
  text-align: left;
  padding-left: 0.5em;
}
.taxes tr:nth-child(even) {
  background: #f0f0f0;
}
.taxes tr:nth-child(odd) {
  background: #fff;
}

.ui-widget,
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button,
.ui-tabs,
.ui-tabs .ui-tabs-nav,
.ui-tabs .ui-tabs-nav li,
.ui-tabs .ui-tabs-nav li a,
.ui-widget-content {
  font-family: Garamond, Baskerville, Baskerville Old Face, Hoefler Text,
    Times New Roman, serif;
}

.ui-tabs,
.ui-tabs .ui-tabs-nav,
.ui-tabs .ui-tabs-nav li,
.ui-tabs .ui-tabs-nav li a {
  font-size: 115%;
}

.ui-widget-content {
  width: 100%;
  margin: 0 auto 0 auto;
  padding: 0;
  align: center;
  text-align: left;
  border: none;
  background-color: #ffffff;
  display: table;
}

td.redday,
table.ui-datepicker-calendar tbody td.redday a {
  background: none !important;
  background-color: red !important;
  background-image: none !important;
  color: White !important;
  font-weight: bold !important;
  font-size: 14pt;
}

.ui-tabs {
  width: 100%;
  padding-left: 0;
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0;
  border: none;
  text-align: center;
}

.ui-tabs-nav {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  float: none;
}

.ui-tabs .ui-tabs-nav {
  text-align: center;
  background: white;
}

.ui-tabs .ui-tabs-nav li {
  float: none !important;
  display: inline-block;
}

.ui-tabs-hide {
  display: none;
}

.ui-tabs .ui-tabs-nav li a {
  font-size: 82.5% !important;
}

div.tab {
  display: none;
  padding-left: 0;
  margin-left: 0;
}

.toolTip {
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #6f257f;
  padding: 4px;
  margin-top: 0.05em;
  margin-bottom: 0.05em;
  line-height: 0.9em;
  text-align: center;
  font-size: 140%;
  font-weight: 700;
}

.map {
  display: block;
  margin: 0.75rem auto;
  width: 60%;
  height: 500px;
  max-height: 45vh;
  border: solid #333355 1px;
  z-index: 3;
}

/*Legend specific*/
.legend {
  padding: 6px 8px;
  font: 14px Arial, Helvetica, sans-serif;
  background: rgba(255, 255, 255, 0.8);
  /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);*/
  border-radius: 5px;
  line-height: 24px;
  color: #555;
}
.legend h4 {
  text-align: center;
  font-size: 16px;
  margin: 2px 12px 8px;
  color: #777;
}

.legend span {
  position: relative;
  bottom: 3px;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin: 0 8px 0 0;
  opacity: 0.7;
}

.legend i.icon {
  background-size: 18px;
  background-color: rgba(255, 255, 255, 1);
}

.d3-chart-container {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
}

.d3-chart-select {
  align: left;
  margin-left: 20%;
  margin-top: 2em;
  margin-bottom: 1em;
}

.twitter-timeline-wrap {
  text-align: center;
}
.twitter-timeline-wrap > iframe {
  margin: auto;
}

.fa {
  padding: 0px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 0.35em 0.25em 0.1em 0.25em;
}

.textIcon {
  margin: 0.35em 0.25em 0.1em 0.25em;
}

.orgLogo {
  padding: 0;
  margin: 0.35em 0.25em 0.1em 0.25em;
}

.slick-prev:before,
.slick-next:before {
  color: #09529b !important;
}

.slick-slide {
  opacity: 0.4;
}
.slick-center {
  opacity: 1;
}

table.table-fit {
  width: auto !important;
  table-layout: auto !important;
}
table.table-fit thead th,
table.table-fit tfoot th {
  width: auto !important;
}
table.table-fit tbody td,
table.table-fit tfoot td {
  width: auto !important;
}

/* The following adds expansion icons for Bootstrap 4 */
.accordion .btn.btn-link.btn-block.text-left:after {
  font-family: 'FontAwesome';
  content: '\f068';
  float: right;
}
.accordion .btn.btn-link.btn-block.text-left.collapsed:after {
  font-family: 'FontAwesome';
  content: '\f067';
  float: right;
}

.modal-table {
  font-size: 175%;
}
.modal-card-header {
  font-size: 175%;
}
.modal-card-text {
  font-size: 175%;
}

.modal-table .modal-card-text,
.modal-table .modal-card-header,
.modal-card-text .modal-table {
  font-size: 100%;
}

.modal-ti {
  width: 1140px;
  max-width: 90%;
}

.dataTables_filter,
.dataTables_length,
.dataTables_info,
.dataTables_paginate {
  font-size: 165%;
}
