html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-graf {
  max-width: 300px;
}

.form-request-entity-update {
  width: 100%;
  max-width: 800px;
  padding: 15px;
  margin: 0 auto;
}
.form-request-entity-update .checkbox {
  font-weight: 400;
}
.form-request-entity-update .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-request-entity-update .form-control:focus {
  z-index: 2;
}
