body {
  font-family: Roboto, Open Sans, Big Caslon, Book Antiqua, Palatino Linotype,
    Georgia, serif;
}

pre {
  white-space: pre-wrap; /* Since CSS 2.1 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

a.ti-icon {
  color: inherit;
  text-decoration: none;
  margin: 0 0.5em;
}

a {
  text-decoration: none;
}

p.ti-compact {
  margin: 4px 0;
}

p.ti-home {
  margin: 1.5rem 0;
  font-size: 1.75rem;
}

p.ti-note {
  margin: 0.75rem 0;
  font-size: 1.1rem;
}

p.ti-article {
  margin: 1.25rem 0;
  font-size: 1.35rem;
}

p.ti-main {
  margin: 1rem 0;
  font-size: 1.5rem;
}
p.ti-main-compact {
  margin: 4px 0;
  font-size: 1.5rem;
}

div.card {
  margin-bottom: 1em;
}
div.card-body {
  padding: 1em 2em;
  margin-bottom: 1em;
}

div.card-title-card {
  background-color: #edf4ff;
}

.ti-modal-table {
  font-size: 150%;
}
.ti-modal-footnote {
  font-size: 125%;
}

.reset-button {
  position: absolute;
  border: none;
  display: block;
  width: 26px;
  height: 26px;
  line-height: 27px;
  font-size: 22px;
  border-radius: 50%;
  top: 50%;
  right: 10px;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: #ddd;
  padding: 0;
  outline: none;
  cursor: pointer;
  transition: 0.1s;
}

.ti-entity-autocomplete-table {
  font-size: 150%;
  max-width: 30em;
}
.ti-entity-list {
  list-style-type: none;
  padding: 0;
  margin: 1em 0;
}
.ti-entity-li {
  padding: 3px 1em;
}
.ti-entity-li:hover {
  background-color: #e0e0ff;
}

img.ti-entity-title {
  background-color: #f8f9fa;
  height: 250px;
  width: 400px;
  object-fit: contain;
}

img.ti-expand-on-hover {
  -webkit-transition: all 0.5s ease-in-out;
}
img.ti-expand-on-hover:hover {
  -webkit-transform: scale(1.1);
}

.ti-modal-list-entity-logo {
  height: 7.5em;
  width: 100%;
  object-fit: contain;
  object-position: center;
  filter: gray; /* IE5+ */
  -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
  -webkit-transition: all 0.5s ease-in-out;
}
.ti-modal-list-entity-logo:hover {
  filter: sepia(0.4);
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.1);
}
.ti-modal-autocomplete-entity-logo {
  height: 5em;
  max-width: 100%;
  object-fit: contain;
  object-position: center;
  filter: sepia(0.4);
}
.ti-association-list-entity-logo {
  height: 10em;
  width: 100%;
  object-fit: contain;
  object-position: center;
  filter: gray; /* IE5+ */
  -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
  -webkit-transition: all 0.5s ease-in-out;
}
.ti-association-list-entity-logo:hover {
  filter: sepia(0.4);
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.1);
}

.ti-rotating-image-list-item {
  object-fit: contain;
  object-position: center;
  filter: gray; /* IE5+ */
  -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
  -webkit-transition: all 0.5s ease-in-out;
}
.ti-rotating-image-list-item:hover {
  filter: sepia(0.4);
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.1);
}

.ti-book-cover {
  height: 28em;
}
.ti-book-cover-list-item {
  height: 20em;
  max-width: 100%;
  object-fit: contain;
  object-position: center;
  filter: gray; /* IE5+ */
  -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
  -webkit-transition: all 0.5s ease-in-out;
}
.ti-book-cover-list-item:hover {
  filter: sepia(0.4);
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.1);
}
.ti-journalism-org-list-item {
  height: 7em;
  max-width: 100%;
  object-fit: contain;
  object-position: center;
  vertical-align: sub;
  padding: 3px;
  filter: sepia(0.4);
}
.ti-filing-entity-logo {
  height: 4em;
  width: 15em;
  object-fit: contain;
  object-position: left;
  vertical-align: sub;
  padding: 2px;
  margin-right: 0px;
  filter: sepia(0.4);
}
.ti-us-gov-lobbying-entity-logo {
  height: 3em;
  width: 12em;
  object-fit: contain;
  object-position: right;
  vertical-align: sub;
  padding: 0;
  margin: 0.5em 3em 0 3em;
  filter: sepia(0.4);
}
.ti-content {
  margin: 0.5em 5% 1.5em 5%;
  padding: 0.5em 1em 0.5em 1em;
}
.ti-card-image-home-top {
  padding: 0.5em 0.5em 0 0.5em;
  height: 7em;
  object-fit: contain;
  object-position: center;
}
.ti-card-image-top-title {
  padding: 0.25em 0.5em 0 0.5em;
  margin: 0;
  height: 10em;
  max-width: 35em;
  object-fit: contain;
  object-position: center;
  filter: sepia(0.4);
}
.ti-card-image-top-content {
  margin: 1em auto;
  padding: 0.5em 1.5em;
  height: 5em;
  width: 16em;
  object-fit: contain;
  object-position: center;
  background-color: #f8f9fa;
  filter: sepia(0.4);
}
.ti-gray-bg {
  background-color: #f8f9fa;
}
.ti-row-btn {
  font-size: 1.5rem;
  min-width: 40%;
}
.ti-key-value-table th[scope='row'] {
  width: 25%;
  padding-right: 2em;
  text-align: right;
}
.ti-key-value-table td {
  width: 75%;
  text-align: left;
}
img.ti-governance-picture {
  width: 10em;
  object-fit: contain;
  object-position: center;
  filter: sepia(0.4);
}
img.dropdown-flag {
  height: 1.75em;
  width: 4em;
  margin-right: 1em;
  object-fit: contain;
  object-position: center;
  filter: sepia(0.4);
}
.dropdown-menu {
  max-height: 200px;
  overflow-y: auto;
}
.dropdown-item {
  font-size: 125%;
}

.hero-wrap {
  position: relative;
  height: 200px;
}

.hero-wrap:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.25;
  height: 200px;
  width: 100%;
  background-image: url('https://techinquiry.org/logos/InfluenceExplorer-cropped.png');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  border-radius: 35px;
  filter: sepia(0.4);
}

.ti-rotating-img-div {
  filter: sepia(0.4);
}

.ti-cap-img {
  filter: gray; /* IE5+ */
  -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
  -webkit-transition: all 0.5s ease-in-out;
}
.ti-cap-img:hover {
  filter: sepia(0.4);
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.1);
}

.hero-content {
  position: relative;
}

.submit-entity-link {
  text-align: center;
  font-size: 20px;
}

.table.dataTable {
  font-family: monospace;
}

.table.dataTable > tbody > tr > td {
  line-height: 1rem !important;
}

.each-slide-effect > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 150px;
}

.each-slide-effect span {
  padding: 10px;
  font-size: 10px;
  background: #efefef;
  text-align: center;
}

.trash-btn:hover {
  transform: scale(1.2);
}

.ti-masonry-cards {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.ti-masonry-cards_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

.leaflet-container {
  width: 95%;
  height: 95%;
}
.leaflet-popup-tip,
.leaflet-popup-content-wrapper {
  font-size: 150%;
}
.leaflet-control-attribution {
  display: none;
}
